.homepage-container {
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center; 
    align-items: center;
    background: radial-gradient(circle, #800080, #3a0a3a);
}

.homepage-container {
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.homepage-container img {
    max-width: 1300px;
    margin-bottom: 150px;
    width: 100%;
    height: 100%;
}