@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'PartialSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.login-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #B5B1B1, #333333);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Pretendard';
    font-size: 30px;
}

.login-box {
    background-color: white;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.login-box h2 {
    margin-bottom: 60px;
    margin-top: 0;
    background: linear-gradient(to right, #800080, #4B0D4B);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-box .input {
    border: none;
    width: 375px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-left: -5px;
    font-size: 15px;
    box-shadow: 0px 10px 15px rgba(27, 39, 63, 0.4);
    padding-left: 25px;
    box-sizing: border-box;
}

.login-box .button2 {
    border: none;
    width: 375px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 780;
    background: linear-gradient(to right, #800080, #4B0D4B);
    margin-top: 100px;
    box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.login-box .button2:hover {
    transform: translateY(-3px);
}